:root {
  --main-color: #333;
}

body {
  font-family: "Zen Dots", cursive;
  height: 100vh;
  width: 100vw;
  margin: 0;
  overflow-x: hidden !important;
}

button {
  font-family: "Zen Dots", cursive;
}

a:hover {
  color: rgb(152, 49, 132);
}


#navbar {
  flex-grow: 1;
  max-height: 10%;
  min-height: 40px;
  background-color: #222222;
  color: white;
  display: flex;
  align-items: center;
  text-decoration: none;
}

#footer {
  color: red;
  position: fixed;
  bottom: "0";
}
