.wholeCheckout {
  display: flex;
  align-self: center;
}

.checkoutButton {
  -webkit-text-stroke: 0.5px black;
  font-size: 20px;
  color: white;
  background-color: rgb(87, 47, 113);
  padding: 10px;
  border-radius: 10px;
  border: 3px outset rgb(208, 132, 238);
  margin-top: 10px;
  margin-left: 30px;
  margin-bottom: 10px;
}

.checkoutButton:hover {
  transform: scale(1.05);
}
