.footer {
    
    
    display: flex;
    flex-direction: row;
    background: rgb(159, 219, 199);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 35px;
    border-top: 2px solid rgba(255, 255, 255, 0.226);
    box-shadow: 2px 2px 2px 2px;
}