.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 360px;
  margin: auto;
  padding: 15px;
  flex-wrap: wrap;
  border: 2px solid black;
  margin-top: 50px;
  border-radius: 20px;
  box-shadow: 3px 3px 3px 3px #7777;
  background-color: rgb(245, 229, 229, 0.699);
}

.login-form {
  display: flex;
  padding-top: 20px;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  width: 360px;
}

.login-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginButton {
  height: 35px;
  background-color: rgba(190, 150, 194, 0.699);
  margin-top: 20px;
}

.register-link-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 360px;
  margin: auto;
  padding: 15px;
  margin-bottom: -40px;
  justify-content: space-evenly;
}

body {
  background: linear-gradient(
    132deg,
    rgba(245, 109, 164, 1) 0%,
    rgb(199, 168, 190) 50%,
    rgb(162, 95, 176) 100%
  );
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.usernameLogin,
.passwordLogin {
  height: 25px;
  margin-bottom: 10px;
}

.link {
  text-decoration: none;
}

@media screen and (max-width: 960px) {
  .login-form {
    width: 300px;
  }

  .usernameLogin,
  .passwordLogin {
    width: 300px;
  }
}
