#navbar {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-image: url("https://images.unsplash.com/photo-1468276311594-df7cb65d8df6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  box-shadow: 3px 3px 3px 3px rgba(206, 205, 205, 0.133);
  text-decoration: none;
  background-size: cover;
}

.mainNav {
  display: flex;
  justify-content: space-between;
}

#logo {
  -webkit-text-stroke: 0.3px white;
  font-size: 40px;
  margin-left: -80px;
  text-decoration: none;
}

.leftNav {
  display: flex;
  justify-content: space-between;
}

.rightNav {
}

.loginIcon {
  font-size: xx-large;
  margin-left: 50px;
  -webkit-text-stroke: 0.3px white;
}

.shoppingIcon {
  font-size: xx-large;
  margin-left: 50px;
  -webkit-text-stroke: 0.3px white;
}

.profileIcon {
  font-size: xx-large;
  margin-left: 50px;
  -webkit-text-stroke: 0.3px white;
}

.adminIcon {
  text-decoration: none;
  -webkit-text-stroke: 0.3px white;
  font-size: 25px;
  margin-left: 50px;
  border: 2px solid rgb(87, 47, 113);
  border-radius: 5px;
  background-color: rgba(137, 223, 249, 0);
  padding-left: 5px;
  padding-right: 5px;
}

#productsThing:hover,
.loginIcon:hover,
.shoppingIcon:hover,
.profileIcon:hover,
.adminIcon:hover,
#logoutBtn:hover {
  transform: scale(1.1);
}

#logoutBtn {
  font-size: 25px;
  margin-left: 75px;
  margin-right: -100px;
  border: 2px solid rgb(87, 47, 113);
  border-radius: 5px;
  background-color: rgba(137, 223, 249, 0);
  -webkit-text-stroke: 0.3px white;
  font-family: "Zen Dots", cursive;
  color: rgb(87, 47, 113);
}

#homeThing {
  -webkit-text-stroke: 0.3px white;
  font-size: 25px;
  margin-left: -60px;
  text-decoration: none;
}

#productsThing {
  -webkit-text-stroke: 0.3px white;
  font-size: 25px;
  margin-left: -60px;
  text-decoration: none;
  border: 2px solid rgb(87, 47, 113);
  border-radius: 5px;
  background-color: rgba(137, 223, 249, 0);
  padding-left: 5px;
  padding-right: 5px;
}
