.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 360px;
  margin: auto;
  padding: 15px;
  flex-wrap: wrap;
  border: 2px solid black;
  margin-top: 50px;
  border-radius: 20px;
  box-shadow: 3px 3px 3px 3px #7777;
  background-color: rgb(245, 229, 229, 0.699);
}

.register-form {
  display: flex;
  padding-top: 20px;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  width: 360px;
  height: 200px;
}

.register-button {
  height: 35px;
  background-color: rgba(190, 150, 194, 0.699);
  margin-top: 20px;
}

.login-link-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 360px;
  margin: auto;
  padding: 15px;
  margin-bottom: -40px;
  justify-content: space-evenly;
}

.registerEmail,
.registerUsername,
.registerPassword {
  height: 25px;
}

@media screen and (max-width: 960px) {
  .register-form {
    width: 300px;
  }

  .registerEmail,
  .registerUsername,
  .registerPassword {
    width: 300px;
  }
}
