.productInStock {
  margin-bottom: 5px;
}

.productPriceH {
}

.productDescriptionH {
  font-style: italic;
  color: rgb(60, 0, 128);
  font-size: 30px;
}

#productImageH {
  width: 320px;
  /* border-radius: 30px; */
  padding: 10px 0;
  margin-left: -10px;
  margin-right: -10px;
  border-radius: 20px;
}

.productBoxH {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  padding: 30px 30px;
  margin: 30px 30px;
  border-radius: 20px;
  box-shadow: 3px 3px 3px 3px #4444;
  background: rgba(245, 245, 245, 0.685);
}

#detailedDesc {
  border-top: 2px dashed black;
  padding: 15px 0;
}

.buttons {
  background-color: #f282f0; /* Green */
  border: 5px outset rgb(208, 92, 232);
  color: black;
  padding: 10px 25px;
  height: 50px;
  margin: 10px;
  margin-left: 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /* font-size: 20px; */
  border-radius: 20px;
  box-shadow: 3px 3px 3px 3px #4444;
  font-weight: 500;
}

.buttons:hover,
.updateButton:hover,
.updateDrop:hover {
  box-shadow: 1px 1px 1px 1px #4444;
  transform: scale(1.1);
}

.updateButton {
  height: 40px;
  width: 100px;
  padding-bottom: 5px;
  border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
  background: rgb(123, 235, 188);
  border: 5px outset rgb(111, 170, 236);
}

.updateDrop {
  padding-top: 0.1px;
  padding-bottom: 13px;
  border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
  background: rgb(123, 235, 188);
  border: 5px outset rgb(111, 170, 236);
  font-family: "Zen Dots", cursive;
}

.productNameH {
  font-weight: bold;
  color: rgb(200, 112, 235);
  font-size: 50px;
  -webkit-text-stroke: 1.5px black;
  margin-top: -15px;
  padding-bottom: 10px;
}

#bottomPanel {
  display: flex;
  justify-content: space-between;
}

#productDescription {
  margin-bottom: 10px;
  letter-spacing: 1px;
  line-height: 30px;
}

.productButton {
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgba(0, 0, 0, 0.829);
  transition: all 0.2s ease;
  margin-top: -15px;
}

.productButton:hover {
  color: white;
  transform: scale(1.25);
}

#leftButton {
  height: 50px;
  width: 120px;
  border-bottom-left-radius: 20px;
  background: rgb(162, 200, 243);
  border: 5px outset rgb(194, 173, 203);
}

#middleButton {
  height: 50px;
  width: 100px;
  border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
  background: rgb(173, 234, 208);
  border: 5px outset rgb(194, 173, 203);
}

#rightButton {
  height: 50px;
  width: 120px;
  border-bottom-right-radius: 20px;
  background: rgb(222, 135, 197);
  border: 5px outset rgb(194, 173, 203);
}

#buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: -20px;
  justify-content: space-evenly;
  height: 20px;
  width: 333px;
  margin-left: -17px;
}
