.adminpage-header {
    display:flex;
    justify-content: center;
    font-size: 40px;
    padding-bottom:12px;
}

.adminpage-link {
    display:flex;
    justify-content: center;
    margin-bottom: 10px;
    font-size: 30px;
    font-weight:bold;
    text-decoration: none;
}