#contactSingle {
  border-bottom: 2px solid black;
  display: flex;
  align-items: center;
  border-left: 8px outset rgb(3, 2, 2);
  border-bottom: 8px outset rgb(15, 2, 2);
  padding-left: 10px;
  padding-top: 5px;
  margin-top: 10px;
  border-right: 8px outset black;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.438);
}

#wholeList {
  display: flex;
  justify-content: center;
}

#userHeader {
  border-bottom: 2px solid black;
  text-align: center;
  float: center;
}

@media screen and (max-width: 960px) {
  #contactSingle {
    width: 300px;
  }

  .userName,
  .email,
  .address {
    font: 20px;
  }
}
