#theForms {
  width: 350px;
  border: 5px outset violet;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: rgba(245, 245, 245, 0.61);
  border-radius: 20px;
  flex-direction: column;
  margin: auto;
  margin-bottom: 40px;
}

.myInputs {
  height: 20px;
  margin: 5px;
  width: 230px;
}

.createproduct-description {
  height: 120px;
  width: 230px;
  margin: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

h3 {
  text-align: center;
  padding-top: 5px;
}

.adminproduct {
  display: flex;
  flex-direction: column;
}

.editproduct-button {
  margin-top: 5px;
}

@media screen and (max-width: 960px) {
  #theForms {
    width: 300px;
  }
}
